<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Court Metrics Admin{% endblock %}</title>
    <link rel="icon" href="{{ url_for('static', filename='images/metrics_logo.jpeg') }}" type="image/x-icon" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="https://unpkg.com/react@17/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
</head>
<body>
    <div class="navbar">
        <div class="logo-container">
            <a href="/admin_home" class="home-link">
                <img src="{{ url_for('static', filename='images/metrics_logo.jpeg') }}" alt="CourtMetrics Logo" class="logo">
                <p class="appname">Court Metrics Admin</p>
            </a>
        </div>
        <div class="nav-links">
            <a href="/admin_home" class="nav-button">Dashboard</a>
            <a href="/betting_history" class="nav-button">Betting History</a>
            <a href="/suspicious_bids" class="nav-button">Suspicious Bids</a>
        </div>

        <!-- Admin Greeting and Logout -->
        <div class="nav-login-signup">
            <div id="user-greeting" style="display: none;" class="user-greeting-container">
                <p class="appname">Hi, <span id="user-name"></span>!</p>               
                <button onclick="logout()" class="nav-button logout-btn">Logout</button>
            </div>
        </div>
    </div>

    <div class="content">
        {% block content %}{% endblock %}
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const userName = localStorage.getItem('user_name');
            const userGreeting = document.getElementById('user-greeting');
            if (userName) {
                document.getElementById('user-name').textContent = userName;
                userGreeting.style.display = 'flex';
            }
        });

        function logout() {
            localStorage.removeItem('access_token');
            localStorage.removeItem('user_name');
            window.location.href = '/admin_login';
        }
    </script>
</body>
</html>